---
---
<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
{% include header.html %}
  <nav>
    {% assign pages = site.html_pages | reversed %}

                    {% for p in pages %}
                        <li>
                            <a href="{{ p.url }}">
                                {{ p.title }}
                            </a>
                        </li>
                    {% endfor %}
  <nav>
  <main>
  {{content}}

  {% for files in site.cours %}
  <li>
      <a href="{{ files.url }}">
          {{ files.label }}
      </a>
  </li>
  {% endfor %}
  </main>
{% include footer.html %}
  </body>
</html>
